<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {# Google tag (gtag.js) #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LHSP9E03KZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LHSP9E03KZ');
    </script>
    {# End Google tag (gtag.js) #}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# <title>{% block title %}{% endblock %} - Chat Analytic</title> #}
    <title>Chat Analytic</title>

    {% include "/components/bootstrap.html" %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <link href="{{ url_for('static', path='/css/style.css?v=1.0.0') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/index.css?v=1.0.0') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% include "/components/navbar.html" %}
    <div>{% block content %}{% endblock %}</div>
    <div>
        {% block footer %}
        {% include "/components/footer.html" %}
        {% endblock %}
    </div>
</body>

</html>