<main class="container">
    <h1 class="display-1 mt-5">Chat Analytic</h1>
    <p class="lead">Welcome to Chat Analytic System</p>
    <p>The service that can help you analyze your chat history for a better understanding of your relationship</p>
    <div class="col mb-3">
        <a class="btn btn-outline-primary" href="/upload" role="button">Upload Chat</a>
        <a class="btn btn-outline-secondary" href="/report" role="button">View Reports</a>
    </div>
    <div class="mb-5">
        <a href="/howto">How it works</a>
    </div>
    <p>If you like it please~</p>
    <a href="https://www.buymeacoffee.com/athachai.m" target="_blank" rel="noopener">
        <img id="buy-me-a-coffee" src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
            alt="Buy Me A Coffee">
    </a>
</main>