<main class="container">
    <h1 class="display-1 mt-5">View Report</h1>
    <form class="row g-3">
        <div class="col-12">
            <label for="formReportCode" class="lead form-label">View your report here</label>
            <input class="form-control" type="text" id="formReportCode" required
                placeholder="e.g. addf120b430021c36c232c99ef8d926aea2acd6b">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">View</button>
        </div>
    </form>
</main>