<main class="container">
    <h1 class="display-3 mt-5">Upload Chat</h1>
    <form class="row g-3">
        <div class="col-12">
            <label for="formFile" class="form-label">Upload your chat history here</label>
            <input class="form-control" type="file" id="formFile" accept="text/plain" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
    <div class="text-end">
        <a href="/howto">How to get your chat history</a>
    </div>
</main>