{% extends "base.html.j2" %}
{% block title %}Report{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<main class="container">
    <h1 class="mt-5">Report</h1>
</main>
{% include "/components/footer.html" %}
{% endblock %}