<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <a href="https://github.com/athachai29" target="_blank" rel="noopener">
                    GitHub
                </a>
            </div>
            <div class="col">
                <a href="/about" target="_blank" rel="noopener">
                    About
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <p>Made for Self-Therapy 👨🏻‍⚕️</p>
        </div>
    </div>
</footer>